<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="all">
  <div class="box">
    <input type="text" [(ngModel)]="word" placeholder="Search">
    <button type="button" class="btn btn-default" (click)="search()">
      <span class="glyphicon glyphicon-search"></span>
    </button>
  </div>
  <div class="container">
    <div class="row">

      <div class="col-md-6 col-xs-12 col-sm-6 col-lg-6" *ngFor="let a of arr | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
        <div class="data">
          <span class="cont">
            <div class="image">
              <img src="{{a.image}}" class="img-circle" alt="Cinque Terre" width="130" height="130">
              <p>Name : {{a.name}}
                <br> Score : {{a.score}}
              </p>
            </div>
          </span>
        </div>
      </div>
    </div>
  </div>
  <span class="page">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </span>
</div>